version: "3"

services:
  nginx:
    image: rafaeltdp/nginx
    container_name: project-nginx
    volumes:
      - ./app:/var/www/app
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
    depends_on:
      - php

  php:
    image: rafaeltdp/php
    container_name: project-php
    volumes:
      - ./app:/var/www/app
    ports:
      - 9000:9000
    depends_on:
      - postgres

  postgres:
    image: rafaeltdp/postgres
    container_name: project-postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  adminer:
    image: adminer:4.8.1
    container_name: project-adminer
    ports:
      - 8081:8080

volumes:
  db-data: